.env
# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Solidity
*.solc
*.abi
*.bin
*.swp

# JavaScript
node_modules/
*.log
src/foundry/broadcast/Deploy.s.sol/696969/run-1717188302.json
src/foundry/broadcast/Deploy.s.sol/696969/run-1717189467.json
src/foundry/broadcast/Deploy.s.sol/696969/run-1717191350.json
src/foundry/broadcast/Deploy.s.sol/696969/run-1717191978.json
src/foundry/broadcast/Deploy.s.sol/696969/run-1717192034.json
src/foundry/broadcast/Deploy.s.sol/696969/run-1717192971.json
src/foundry/broadcast/Deploy.s.sol/696969/run-1717195648.json
src/foundry/broadcast/Deploy.s.sol/696969/run-latest.json
src/foundry/broadcast/Deploy.s.sol/696969/run-1717203182.json
