[submodule "src/python/Deepfake-Detection"]
	path = src/python/Deepfake-Detection
	url = https://github.com/aifa/Deepfake-Detection

[submodule "src/python/Deepfake-Detection"]
        path = src/python/lilypad-module-ollama-pipeline
        url = https://github.com/aifa/lilypad-module-ollama-pipeline
